body#view-fictive nav.rero-ils-header {
  background-color: #4f009e !important;
}

body#view-fictive nav.rero-ils-header img.rero-ils-logo {
  display: none;
}

div#fictive-logo {
  content: url('https://resources.rero.ch/ils/images/logo-fictive.svg');
  max-height: 44px !important;
}
